body {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
}

.container-12 {
  height: 100%;
  align-items: center;
}

.card {
  max-width: 600px;
  width: 100%;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

footer {
  width: 100%;
}

footer p {
  color: #282828;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #icon {
    margin: 1em 0;
    transform: rotate(90deg);
  }

  footer p {
    font-size: 14px;
  }
}
